
<option val="" default selected i18n="indoorPlaceAreas.selectArea"></option>
<option value="BATHROOM" i18n="indoorPlaceAreas.bathroom"></option>
<option value="BEDROOM" i18n="indoorPlaceAreas.bedroom"></option>
<option value="KITCHEN" i18n="indoorPlaceAreas.kitchen"></option>
<option value="LIVING_ROOM" i18n="indoorPlaceAreas.livingRoom"></option>
<option value="CELLAR" i18n="indoorPlaceAreas.cellar"></option>
<option value="GUEST_ROOM" i18n="indoorPlaceAreas.guestRoom"></option>
<option value="DINING_ROOM" i18n="indoorPlaceAreas.diningRoom"></option>
<option value="WORK_ROOM" i18n="indoorPlaceAreas.workRoom"></option>
<option value="CORRIDOR" i18n="indoorPlaceAreas.corridor"></option>
<option value="ENTRANCE_HALL" i18n="indoorPlaceAreas.entranceHall"></option>
<option value="STAIRCASE" i18n="indoorPlaceAreas.staircase"></option>
<option value="HOBBY_ROOM" i18n="indoorPlaceAreas.hobbyRoom"></option>
<option value="STORAGE_ROOM" i18n="indoorPlaceAreas.storageRoom"></option>
<option value="UNKNOWN" i18n="indoorPlaceAreas.unknown"></option>
<option value="WARDROBE" i18n="indoorPlaceAreas.wardrobe"></option>