<img src="../rewardSystem/images/rewardSystemBoard.png" id="board">
<div id="currentCoins">
    <h1 class="largeFont">{{model.currentCoins}}</h1>
</div>
<div id="activityCoins">
    <h2 class="mediumFont">{{model.coinsFromActivity}}</h2>
</div>
<div id="usageCoins">
    <h2 class="mediumFont">{{model.coinsFromUsage}}</h2>
</div>
<div id="exerciseCoins">
    <h2 class="mediumFont">{{model.coinsFromExercise}}</h2>
</div>
<div id="sleepCoins">
    <h2 class="mediumFont">{{model.coinsFromSleep}}</h2>
</div>
<div id="gameCoins">
    <h2 class="mediumFont">{{model.coinsFromGames}}</h2>
</div>
