<section>
    <br />
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a ui-sref="home.availableVideos" class="navbar-brand" i18n="application.title"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="home.availableVideos" i18n="home.availableVideos"></a></li>
                    <li ui-sref-active="active"><a ui-sref="home.uploadVideo" i18n="common.uploadVideo"></a></li>
                    <li ui-sref-active="active"><a ui-sref="home.addExternalVideo" i18n="common.addExternalVideo"></a></li>
                    <li ui-sref-active="active"><a ui-sref="home.addHealthImpairmentTag" i18n="common.addHealthImpairmentTag"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><language-picker currentlanguage="currentlanguage"
                        languages="supportedLangs" on-change="onLanguageChange(language)"></language-picker>
                    </li>
	                <li>
		                <div class="btn-group" role="group">
		                    <button id="greetingButton" class="btn btn-default btn-lg dropdown-toggle"
		                            data-toggle="dropdown"
		                            aria-expanded="false">{{firstName}}
		                    </button>
		                    <ul class="dropdown-menu" role="menu">
		                        <li ng-if="!isConnected"><a href="#" ng-click="connectToGoogle()">
		                        	<span class="glyphicon glyphicon-log-in"></span>
		                        	<span>&nbsp;</span>
                                    <span data-i18n="home.connectToGoogle" data-name="{{username}}"></span></a>
                                </li>
                    			<li ng-if="isConnected"><a href="#" ng-click="disconnectFromGoogle()">
                    				<span class="glyphicon glyphicon-log-out"></span>
                    				<span>&nbsp;</span>
                                    <span data-i18n="home.disconnectFromGoogle" data-name="{{username}}"></span></a>
                                </li>
                    			<li role="separator" class="divider"></li>
                    			<li><a href="#" ng-click="changeUser()">
                    				<span class="glyphicon glyphicon-user"></span><span>&nbsp;</span>
                                    <span i18n="home.changeUser"></span></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" ng-click="logoutUser()">
                                    <span class="glyphicon glyphicon-log-out"></span><span>&nbsp;</span>
                                    <span i18n="home.logout"></span></a>
                                </li>
		                    </ul>
		                </div>
		            </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <br /><br /><br /><br /><br />

    <div ui-view></div>
</section>