<section>
	<p class="text-right" style="margin-top: 40px;">
		<language-picker currentlanguage="currentlanguage"
			languages="supportedLangs" on-change="onLanguageChange(language)"></language-picker>
	</p>
	<div class=row>
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
			<form class="form-signin" role="form">
				<h2 class="form-signin-heading" i18n="userSelection.title"></h2>
			
				<select ng-model="user" ng-options="user.username for user in users" class="form-control">
					<option value="" ng-show="!user" i18n="userSelection.selectUserHint"></option>
				</select>
				<br />
				
				<button ng-click="setUser()" class="btn btn-success" ui-sref="home.availableVideos" ng-disabled="!user" i18n="userSelection.openPortal"></button>
			</form>
		</div>
	</div>
</section>