/.settings/
/.project
/idss-message-timing-reasoner/.springBeans
/idss-message-timing-reasoner/.settings
/idss-message-timing-reasoner/.classpath
/idss-message-timing-reasoner/.project
/idss-message-timing-reasoner/target
/idss-message-content-reasoner/.settings
/idss-message-content-reasoner/target
/idss-message-content-reasoner/.classpath
/idss-message-content-reasoner/.project
/idss-message-content-reasoner/.springBeans
.classpath
.project
/idss/.settings/.jsdtscope
/idss/.settings/org.eclipse.core.resources.prefs
/idss/.settings/org.eclipse.jdt.core.prefs
/idss/.settings/org.eclipse.m2e.core.prefs
/idss/.settings/org.eclipse.wst.common.component
/idss/.settings/org.eclipse.wst.common.project.facet.core.xml
/idss/.settings/org.eclipse.wst.jsdt.ui.superType.container
/idss/.settings/org.eclipse.wst.jsdt.ui.superType.name
/idss/.settings/org.eclipse.wst.validation.prefs
/idss/.springBeans
.settings
/idss-core/.springBeans
target
/idss-reasoner-activitycoach/.springBeans
/remote-proxy/logs
/profiling-server/bin
bin
.idea/
*.iml
