<form class="form-signin" role="form" name="loginForm"
	ng-submit="loginForm.$valid && login(credentials)" novalidate>
	<h2 class="form-signin-heading">Twitter Authenticator administration sign in</h2>

	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" ng-model="credentials.username" id="inputUsername"
		name="username" class="form-control"
		placeholder="Username" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" ng-model="credentials.password"
		id="inputPassword" name="password" class="form-control"
		placeholder="Password" required>

	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>