<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
	aria-labelledby="successModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="successModalLabel" i18n="common.success"></h4>
			</div>
			<div class="modal-body">{{successMessage}}</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" i18n="common.ok"></button>
			</div>
		</div>
	</div>
</div>